<div class="wice-grid">
  <div class="pagination">
    <ul class="pagination">
      <% if page > 0 %>
          <li>
            <%= grid.pagination_page_link_to('<', page - 1) %>
          </li>
      <% end %>

      <% [(0..pages_around-1).to_a, (page-pages_around..page+pages_around).to_a, (page_last-pages_around+1..page_last).to_a].flatten!.sort!.uniq.each do |i|
        next if i < 0 || i > page_last
      %>
          <% if i == page-pages_around && i > pages_around+1 %>
              <li>
                ...
              </li>
          <% end %>
          <li <%= i == page ? 'class=active' : '' %>>
            <%= grid.pagination_page_link_to(i+1, i) %>
          </li>
          <% if i == page+pages_around && i < page_last - pages_around+1 %>
              <li>
                ...
              </li>
          <% end %>
      <% end %>
      <% if page < page_last %>
          <li>
            <%= grid.pagination_page_link_to('>', page + 1) %>
          </li>
      <% end %>
    </ul>
  </div>
  <div class="pagination_status">
    <%= grid.entries_start %> - <%= grid.entries_end %> / <%= grid.entries_total %>
  </div>
</div>
